@import "tailwindcss";

/* Recommended icon sizes */
span.icon-size-20 {
    font-size: 20px;
    font-weight: 100;
    font-variation-settings: "OPSZ" 20;
}

span.icon-size-24 {
    font-size: 24px;
    font-variation-settings: "OPSZ" 24;
}

span.icon-size-32 {
    font-size: 32px;
    font-variation-settings: "OPSZ" 32;
}

span.icon-size-40 {
    font-size: 40px;
    font-variation-settings: "OPSZ" 40;
}

span.icon-size-48 {
    font-size: 48px;
    font-variation-settings: "OPSZ" 48;
}

/* Rules for using icons as black on a light background. */
.dark {
    background: black;
    color: rgba(255, 255, 255, 1);
    font-variation-settings: "GRAD" -25;
}

.dark-inactive {
    background: black;
    color: rgba(255, 255, 255, 0.3);
    font-variation-settings: "GRAD" -25;
}

.slide-left {
    -webkit-animation: slide-left 0.1s ease-in both;
    animation: slide-left 0.1s ease-in both;
}

.slide-right {
    -webkit-animation: slide-right 0.1s ease-in both;
    animation: slide-right 0.1s ease-in both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

button:hover {
    cursor: pointer;
}

td {
    border: 1px var(--color-border) solid;
    padding-left: 6px;
    max-height: 20px;
}


@theme {
    --color-fg-border: rgb(221, 221, 221);
    --color-border: rgb(235, 235, 235);
    --color-accent: rgb(235, 110, 60);
    --color-fg-accent: rgb(211, 87, 40);

    --color-fg-secondary: rgb(248, 215, 186);
    --color-secondary: rgb(250, 226, 206);
    /* Default / Neutral */
    --color-fg-default: rgb(31, 35, 40);
    --color-bg-default: rgb(255, 255, 255);

    --color-fg-neutral: rgb(89, 99, 110);
    --color-bg-neutral: rgb(246, 248, 250); /* statt neutral-muted (hat Alpha) */

    /* Accent (Blue) */
    --color-bg-accent-muted: rgb(221, 244, 255);
    --color-bg-accent-emphasis: rgb(9, 105, 218);

    /* Success / Open (Green) */
    --color-fg-success: rgb(26, 127, 55);
    --color-bg-success-muted: rgb(218, 251, 225);
    --color-bg-success-emphasis: rgb(31, 136, 61);

    /* Danger / Closed (Red) */
    --color-fg-danger: rgb(209, 36, 47);
    --color-bg-danger-muted: rgb(255, 255, 255);
    --color-bg-danger-emphasis: rgb(207, 34, 46);

    /* Attention / Warn (Yellow) */
    --color-fg-attention: rgb(154, 103, 0);
    --color-bg-attention-muted: rgb(255, 248, 197);
    --color-bg-attention-emphasis: rgb(154, 103, 0);

    /* Done / Purple */
    --color-fg-done: rgb(130, 80, 223);
    --color-bg-done-muted: rgb(251, 239, 255);
    --color-bg-done-emphasis: rgb(130, 80, 223);

    /* Sponsors / Pink */
    --color-fg-sponsors: rgb(191, 57, 137);
    --color-bg-sponsors-muted: rgb(255, 239, 247);
    --color-bg-sponsors-emphasis: rgb(191, 57, 137);

    /* Severe / Orange */
    --color-fg-severe: rgb(188, 76, 0);
    --color-bg-severe-muted: rgb(255, 241, 229);
    --color-bg-severe-emphasis: rgb(188, 76, 0);

    /* Für Labels mit „Emphasis“-Hintergrund */
    --color-fg-on-emphasis: rgb(255, 255, 255);
    --color-bg-emphasis: rgb(37, 41, 46);

}