@import "tailwindcss";

/* Recommended icon sizes */
span.icon-size-20 {
  font-size: 20px;
  font-weight: 100;
  font-variation-settings: "OPSZ" 20;
}
span.icon-size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}

span.icon-size-32 {
  font-size: 32px;
  font-variation-settings: "OPSZ" 32;
}
span.icon-size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}
span.icon-size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

/* Rules for using icons as black on a light background. */
.dark {
  background: black;
  color: rgba(255, 255, 255, 1);
  font-variation-settings: "GRAD" -25;
}
.dark-inactive {
  background: black;
  color: rgba(255, 255, 255, 0.3);
  font-variation-settings: "GRAD" -25;
}

.slide-left {
  -webkit-animation: slide-left 0.1s ease-in both;
  animation: slide-left 0.1s ease-in both;
}

.slide-right {
  -webkit-animation: slide-right 0.1s ease-in both;
  animation: slide-right 0.1s ease-in both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

button:hover{
  cursor: pointer;
}

td{
  border: 1px var(--color-border) solid;
  padding-left: 6px;
  max-height: 20px;
}


@theme {
  --color-fg-border: rgb(221, 221, 221);
  --color-border: rgb(235, 235, 235);
  --color-accent: rgb(235, 110, 60);
  --color-fg-secondary: rgb(248, 215, 186);
  --color-secondary: rgb(250, 226, 206)
}